body {
  background-color: black;
}

#score {
  display: inline-block;
  width: 100px;
  height: 50px;
  color: white;
  font-size: 40px;
  background-color: black;
  float: right;
}

#gameBoard {
  width: 840px;
  margin: 0 auto;
  padding: 100px;
}

h1 {
  color: white;
  display: inline-block;
}

.pacman {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("pacman .gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wall {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("wall.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.dot {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("dot.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.empty {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: black;
}

.play-again {
  position: absolute;
  margin: 0 auto;
  background-color: black;
  color: white;
  border: none;
  font-size: 40px;

}

.starting {
  position: static;
  top:50%;
  background-color: black;
  background-image: url("pacmanbackground.gif");
  background-repeat: no-repeat;
  /*background-size: cover;*/
  background-position: center bottom;
  margin: 0 auto;
}

#start-button {
  background-color: black;
  color: white;
  border:none;
  position: relative;
  top: 50%;
  left:45%;
  font-size: 50px

}

@media only screen and (max-width: 960px) {
  button .starting #start-button {
    background-position: center bottom;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 460px) {
  button .starting #start-button .play-again {
    background-position: center bottom;
    position:relative;
    top:50%;
    left:45%;
  }

#You-Win {
  background-color: white;
  height:50px;
  width: 50px

}

