body {
  background-color: black;
}
#score {
  display: inline-block;
  width: 100px;
  height: 50px;
  color: white;
  font-size: 40px;
  background-color: black;
}

#gameBoard {
  width: 460px;
}

h1 {
  color: white;
  display: inline-block;
}

.pacman {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-image: url("pacman .gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wall {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-image: url("wall.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.dot {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-image: url("dot.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.empty {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-color: black;
}

button {
  background-color: black;
  color: white;
}
